.location-container {
    position: fixed;
    top: 20vh; 
    right: 10px;
    display: flex;
    align-items: center;
  }
  
  .location-button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
  }
  
  .location-icon {
    font-size: 24px;
    color: #ff4d4f; /* Customize color */
    transition: transform 0.3s ease;
  }
  
  .location-button:hover .location-icon {
    transform: scale(1.2);
  }
  
  @media (max-width: 768px) {
    .location-container {
      position: static; /* Adjust positioning for mobile */
      margin: 10px 0;
    }
  }
  