

.singleCard-CardBody{
    width: 100%;
    height: max-content;
}
.singleCard-CompanyName {
    font-size: 50px !important; /* Adjust font size as needed */
    font-weight: bold !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 72px;
    background: -webkit-linear-gradient(left, #21a2a6, #438c8f, #5bacaf, #75ccd0, #8feef3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration:double !important;
}

.companyCard-Carousel {
    margin: 0;
  }
  
  