.popup-card {
    background-color: rgba(255, 255, 255, 0.9); /* White with slight opacity */
    border-radius: 20px;
    backdrop-filter: blur(10px); /* Apply blur effect */
    padding: 0;
  }
  
  .popup-card-header {
    background-color: transparent;
    border: none;
  }
  
  .popup-card-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; /* Dark color for better readability */
  }
  
  .popup-close-button {
    background-color: white;
  }
  
  .popup-card-body {
    background-color: #9AE6EC;
    padding: 30px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .popup-card-body .form-check {
    margin-bottom: 10px;
  }
  