.Home-Navbar{
    position: fixed;
    top: 0;
    width:max-content;
    height: 100%;
    z-index: 1000;
   background-color: rgb(190, 190, 190);
    
}

.Home-Body{
    overflow: hidden;
    margin-top: 50px;
    width:max-content;
    height: 500vh;
    margin: 0px 0px 0px 0px ;
    padding: 0px;
}