.UserProfile-container  {
   margin-top: 15vh;
  }
  
  .UserProfile-container .profile-image {
    width: 80%;
    height: auto;
    object-fit: cover;
    border: 5px solid #eae2e2;
    border-radius: 20px;
  }
  .user-name {
    font-size: 40px !important; 
    font-weight: bold;
    color: #333; /* Dark color for contrast */
    margin-bottom: 10px;
  }
  
  .user-details {
    font-size: 18px !important; 
    color: #666;
    margin-bottom: 8px;
    margin-top: 10px;
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .UserProfile-container .profile-image{
        width: 100%;
    }
    .user-name {
      font-size: 32px !important; 
    }
  
    .user-details {
      font-size: 14px; 
    }
    .EditUserPRofile-Card{
      width: 100% !important;
    }
  }
  
  @media (max-width: 576px) {
    .user-name {
      font-size: 25px !important;
    }
  
    .user-details {
      font-size: 12px; 
    }
    .EditUserPRofile-Card{
      width: 100% !important;
    }
  }

  /* Edit user */

  .EditUserPRofile-Card{
    width: 50%;
  }

  .ProfileFormLabel{
    display: flex;
    justify-content: end;
    padding-right: 40px !important;
  }
  .ProfileFormText{
    display: flex;
    justify-content: start;
  }

  .UserProfile-Card{
    width: 50% !important;
  }
  .ProfileButton{
    width: 20% !important;
  }
  @media (max-width: 900px) {
    .UserProfile-Card{
      width: 75% !important;
    }
  }
  @media (max-width: 590px) {
    .UserProfile-Card{
      width: 100% !important;
    }
    .ProfileFormText{
      font-size: 90% !important;
    }
    .ProfileFormLabel{
      font-size: medium !important;
      justify-content: start;
      font-size: 90% !important;
      padding-right: 0px !important;
    }
    .ProfileButton{
      width: 50% !important;
    }
    /* .ProfileFormEmail{
      font-size: 70% !important;
    } */
  }
  @media (max-width: 380px) {
    .ProfileFormLabel{
      font-size: medium !important;
      justify-content: start;
      font-size: 70% !important;
      padding-right: 0px !important;
    }
    .ProfileFormText{
      font-size: 70% !important;
    }
  }