

.login-Company-Symbol {
  width: 100px;
  margin-top: 10px;
}
.loginheader-Machine-Image {
  display: none;
}

.PlayStoreButton {
 
  color: white;
  
  text-decoration: none;
  border-radius: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: width 0.3s ease;
  white-space: nowrap;
  width: 40px; /* Initial width to only show the logo */
}

.PlayStoreButton .download-text {
  opacity: 0;
  margin-left: 10px;
  transition: opacity 0.3s ease;
}

.PlayStoreButton:hover {
  width: 150px; /* Width to show the logo and text */
  background-color: #000;
  padding: 5px;
}

.PlayStoreButton:hover .download-text {
  opacity: 1;
}


.PlayStoreButton:hover .download-text {
  opacity: 1;
}


.login-Company_name {
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  color: blue;
}

.login-Machine-Image {
  width: 90%;
}

.animated-button {
  background-color: white;
  border: 2px solid black;
  color: BLACK;
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
}

.animated-button .business-icon {
  width: 30px;
  margin-right: 10px;
  /* opacity: 0; */
  transform: translateX(-10px);
  transition: all 0.3s ease;
}

.animated-button .download-text {
  font-size: 18px;
}

.animated-button:hover {
  background-color: black;
  color: white;
}

.animated-button:hover .business-icon {
  opacity: 1;
  transform: translateX(0);
}


.Login_Row {
  background-image: linear-gradient(
    to bottom,
    skyblue,
    #66def5,
    #8ce2f6,
    #abe6f6,
    #c6eaf5
  );
  height: 100vh;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
  width: 100vw;
}

.Login-Submit-Button {
  margin: 20px;
  width: 100%;
}

.left-column,
.right-column {
  height: 100vh;
}

.login-Inner-Card {
  padding: 20px;
  border-radius: 40px;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

.login-Inner-Card:hover {
  box-shadow: 2px 2px 20px black;
  border-radius: 40px;
}

.password-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.eye-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.login-ForgetPassword {
  text-decoration: none;
  color: grey;
  margin-top: 20px;
}

.Login-login-tag {
  color: #66b2ff;
  font-size: 18px;
}

.hr-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.hr {
  flex: 1;
  border: none;
  border-top: 1px solid #000;
  margin: 0 10px;
}

.hr-with-text span {
  white-space: nowrap;
  color: grey;
}

.Login-Logos {
  height: 50px;
  background-color: white;
  border-radius: 50px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.Login-Logos:hover {
  transform: scale(1.2);
}


.line {
  opacity: 0;
  transform: translateX(100%) scale(0.5);
  transform-origin: center;
  
  animation: slide-in 1s ease-in-out forwards;
}



.line2 {
  opacity: 0;
  transform: translateX(-100%) scale(0.5);
  transform-origin: center;
  animation: slide-in 1s ease-in-out forwards;
}


@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes slide-in {
  100% {
    opacity: 1;
    transform: translateX(0) scale(1); /* Move to original position and actual size */
  }
}





@media only screen and (max-width: 769px) {
  .loginheader-Machine-Image {
    display: block;
  }
  .loginheader-Machine-Image {
    width: 100px;
    height: 100px;
  }
  .login-Company_name {
    display: none;
  }

  .Login_Row { 
    width: 100vw;
    height: 100vh;
  }

  .login-Company-Symbol {
    width: 60%;
    height: auto;
  }

  .login-Inner-Card {
    padding: 20px;
    border-radius: 40px;
    margin-left: 10%;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .login-Company_name {
    font-size: 50px;
  }
  .left-column {
    display: none;
  }

  .right-column {
    height: auto;
  }
}
